.encabezado{
    color: rgb(226, 198, 43);
    display: flex;
    justify-content: center;
    font-family: 'Tilt Warp', cursive;
    font-size: xx-large;

}

table{
    color: rgb(134, 43, 226);
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

a{
    color: rgb(226, 180, 43);
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style: italic;    
}

td{
    color: rgb(226, 180, 43);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style: italic;      
}

body{
    background-color: rgb(44, 42, 61);
}